
#one {
	height: 50px;
	width: 50px;
	background-color: blue;
	position: fixed;
	margin-top: 500px;
}
#two {
	height: 50px;
	width: 50px;
	background-color: green;
	position: absolute;
	margin-left: 400px;
}
#three {
	height: 50px;
	width: 50px;
	background-color: yellow;
/*	position:fixed;*/
	margin-top: 20px;
}
#four {
	height: 50px;
	width: 50px;
	background-color: purple;
}
