
#content {
/*	display: block;*/
/*	float: left;
	position: relative;*/
}

.infocard {
	width: 251px;
	float: right;
	margin-left: 10px;
	border-style: solid;
	border-width: 1px;
	background-color: #d3d3d3;
}


tbody tr th {
	margin: 0 auto;
}

.row {
	float: left;
}

td {
	float: right;
}

#toc {
	float: left;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
}

.left {
    overflow: hidden;
    /*border: 2px dashed #f0f;*/
    display: flex;
}