body {
	background-color: yellow;
}

ul {
	color: green;
}

h1 {
	font-family: sans-serif;
}

h2 {
	font-family: Helvetica;
	font-style: italic;
}

.change-font {
	font-size: 60px;
}

#single-change {
	color: blue;
	display: inline;
}